<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale" />
    <title>GeeBnme - FunKo Pop Figures Boutique</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="nav-bar"></div>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img :src="image" :alt="altImg" :title="titleImg" />
                <span v-show="onSale" class="sale">On Sale!!</span>
            </div>
            <div class="product-info">
                <h1>{{ product }}</h1>
                <p>{{ description }}</p>
                <p v-if="inventory > 6">In Stock</p>
                <p v-else-if="inventory > 1 && inventory <=6">Almost Sold Out!</p>
                <p v-else-if="inventory == 1">Just 1 in Stock!!</p>
                <p v-else>Out of Stock</p>
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
                
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>